DROP TABLE `FAVOR_ITEM`;

CREATE TABLE `FAVOR_ITEM`
(
    `USER_UID`    VARCHAR(100) NOT NULL COMMENT '사용자UID',
    `ITEM_UID`    VARCHAR(100) NOT NULL COMMENT '매물UID',
 PRIMARY KEY ( `USER_UID`,`ITEM_UID` )
) COMMENT = '찜매물';

DROP INDEX `FAVOR_ITEM_PK`;

CREATE UNIQUE INDEX `FAVOR_ITEM_PK` ON `FAVOR_ITEM`
( `USER_UID`,`ITEM_UID` );

ALTER TABLE `FAVOR_ITEM`
 ADD CONSTRAINT `FAVOR_ITEM_PK` PRIMARY KEY ( `USER_UID`,`ITEM_UID` );


DROP TABLE `OFFICE_USER`;

CREATE TABLE `OFFICE_USER`
(
    `OFFICE_CODE`    VARCHAR(50) NOT NULL COMMENT '사업장코드',
    `USER_UID`    VARCHAR(100) NOT NULL COMMENT '사용자UID',
 PRIMARY KEY ( `OFFICE_CODE`,`USER_UID` )
) COMMENT = '사업장별사용자';

DROP INDEX `OFFICE_USER_PK`;

CREATE UNIQUE INDEX `OFFICE_USER_PK` ON `OFFICE_USER`
( `OFFICE_CODE`,`USER_UID` );

ALTER TABLE `OFFICE_USER`
 ADD CONSTRAINT `OFFICE_USER_PK` PRIMARY KEY ( `OFFICE_CODE`,`USER_UID` );


DROP TABLE `CHAT_MSG`;

CREATE TABLE `CHAT_MSG`
(
    `ITEM_UID`    VARCHAR(100) NOT NULL COMMENT '매물UID',
    `USER_UID`    VARCHAR(100) NOT NULL COMMENT '구매자UID',
    `CHAT_ORD`    INT(20) NOT NULL COMMENT '채팅순서',
    `SENDER_UID`    VARCHAR(100) NOT NULL COMMENT '발신자UID',
    `CHAT_MSG`    VARCHAR(2000) NOT NULL COMMENT '채팅내용',
    `CHAT_DT`    VARCHAR(50) NOT NULL COMMENT '채팅일시',
    `RECV_YN`    CHAR(1) NOT NULL COMMENT '읽음여부',
 PRIMARY KEY ( `ITEM_UID`,`USER_UID`,`CHAT_ORD` )
) COMMENT = '채팅메시지';

DROP INDEX `CHAT_MSG_PK`;

CREATE UNIQUE INDEX `CHAT_MSG_PK` ON `CHAT_MSG`
( `ITEM_UID`,`USER_UID`,`CHAT_ORD` );

ALTER TABLE `CHAT_MSG`
 ADD CONSTRAINT `CHAT_MSG_PK` PRIMARY KEY ( `ITEM_UID`,`USER_UID`,`CHAT_ORD` );


DROP TABLE `TRADE`;

CREATE TABLE `TRADE`
(
    `ITEM_UID`    VARCHAR(100) NOT NULL COMMENT '매물UID',
    `USER_UID`    VARCHAR(100) NOT NULL COMMENT '구매자UID',
    `TRADE_STAT`    INT(5) NOT NULL COMMENT '거래상태',
    `SELLER_TEMP_NICK`    VARCHAR(100) COMMENT '판매자임시닉네임',
    `BUYER_TEMP_NICK`    VARCHAR(100) COMMENT '예약자임시닉네임',
 PRIMARY KEY ( `ITEM_UID`,`USER_UID` )
) COMMENT = '거래';

DROP INDEX `TRADE_PK`;

CREATE UNIQUE INDEX `TRADE_PK` ON `TRADE`
( `ITEM_UID`,`USER_UID` );

ALTER TABLE `TRADE`
 ADD CONSTRAINT `TRADE_PK` PRIMARY KEY ( `ITEM_UID`,`USER_UID` );


DROP TABLE `OFFICE`;

CREATE TABLE `OFFICE`
(
    `OFFICE_CODE`    VARCHAR(50) NOT NULL COMMENT '사업장코드',
    `OFFICE_NAME`    VARCHAR(200) NOT NULL COMMENT '사업장명',
    `OFFICE_ADDR`    VARCHAR(500) NOT NULL COMMENT '사업장주소',
 PRIMARY KEY ( `OFFICE_CODE` )
) COMMENT = '사업장';

DROP INDEX `OFFICE_PK`;

CREATE UNIQUE INDEX `OFFICE_PK` ON `OFFICE`
( `OFFICE_CODE` );

ALTER TABLE `OFFICE`
 ADD CONSTRAINT `OFFICE_PK` PRIMARY KEY ( `OFFICE_CODE` );


DROP TABLE `KEYWD`;

CREATE TABLE `KEYWD`
(
    `KEYWD_NAME_SP`    VARCHAR(1000) NOT NULL COMMENT '키워드네임스페이스',
    `KEYWD_NAME`    VARCHAR(20) NOT NULL COMMENT '키워드명',
 PRIMARY KEY ( `KEYWD_NAME_SP`,`KEYWD_NAME` )
) COMMENT = '키워드';

DROP INDEX `KEYWD_PK`;

CREATE UNIQUE INDEX `KEYWD_PK` ON `KEYWD`
( `KEYWD_NAME_SP`,`KEYWD_NAME` );

ALTER TABLE `KEYWD`
 ADD CONSTRAINT `KEYWD_PK` PRIMARY KEY ( `KEYWD_NAME_SP`,`KEYWD_NAME` );


DROP TABLE `ITEM_KEYWD`;

CREATE TABLE `ITEM_KEYWD`
(
    `ITEM_UID`    VARCHAR(100) NOT NULL COMMENT '매물UID',
    `KEYWD_NAME_SP`    VARCHAR(1000) NOT NULL COMMENT '키워드네임스페이스',
    `KEYWD_NAME`    VARCHAR(20) NOT NULL COMMENT '키워드명',
 PRIMARY KEY ( `ITEM_UID`,`KEYWD_NAME_SP`,`KEYWD_NAME` )
) COMMENT = '매물별키워드';

DROP INDEX `ITEM_KEYWD_PK`;

CREATE UNIQUE INDEX `ITEM_KEYWD_PK` ON `ITEM_KEYWD`
( `ITEM_UID`,`KEYWD_NAME_SP`,`KEYWD_NAME` );

ALTER TABLE `ITEM_KEYWD`
 ADD CONSTRAINT `ITEM_KEYWD_PK` PRIMARY KEY ( `ITEM_UID`,`KEYWD_NAME_SP`,`KEYWD_NAME` );


DROP TABLE `ITEM`;

CREATE TABLE `ITEM`
(
    `ITEM_UID`    VARCHAR(100) NOT NULL COMMENT '매물UID',
    `USER_UID`    VARCHAR(100) NOT NULL COMMENT '판매자UID',
    `OFFICE_CODE`    VARCHAR(50) NOT NULL COMMENT '사업장코드',
    `ITEM_TITLE`    VARCHAR(200) NOT NULL COMMENT '매물제목',
    `ITEM_UPLOAD_DT`    VARCHAR(50) NOT NULL COMMENT '매물등록일시',
    `PIC_FILE_PATH`    VARCHAR(300) NOT NULL COMMENT '사진파일경로',
    `SELL_PRICE`    INT(20) NOT NULL COMMENT '매물가격',
    `ITEM_DESC`    VARCHAR(2000) NOT NULL COMMENT '매물상세설명',
    `RESERVE_YN`    CHAR(1) NOT NULL COMMENT '예약여부',
 PRIMARY KEY ( `ITEM_UID` )
) COMMENT = '매물';

DROP INDEX `ITEM_PK`;

CREATE UNIQUE INDEX `ITEM_PK` ON `ITEM`
( `ITEM_UID` );

ALTER TABLE `ITEM`
 ADD CONSTRAINT `ITEM_PK` PRIMARY KEY ( `ITEM_UID` );


DROP TABLE `EXT_AUTH`;

CREATE TABLE `EXT_AUTH`
(
    `AUTH_PROVIDER`    VARCHAR(500) NOT NULL COMMENT '본인인증제공자',
    `USER_UID`    VARCHAR(100) NOT NULL COMMENT '사용자UID',
    `AUTH_ACCNT`    VARCHAR(500) NOT NULL COMMENT '본인인증계정명',
 PRIMARY KEY ( `AUTH_PROVIDER`,`USER_UID`,`AUTH_ACCNT` )
) COMMENT = '본인인증수단';

DROP INDEX `EXT_AUTH_PK`;

CREATE UNIQUE INDEX `EXT_AUTH_PK` ON `EXT_AUTH`
( `AUTH_PROVIDER`,`USER_UID`,`AUTH_ACCNT` );

ALTER TABLE `EXT_AUTH`
 ADD CONSTRAINT `EXT_AUTH_PK` PRIMARY KEY ( `AUTH_PROVIDER`,`USER_UID`,`AUTH_ACCNT` );


DROP TABLE `USER`;

CREATE TABLE `USER`
(
    `USER_UID`    VARCHAR(100) NOT NULL COMMENT '사용자UID',
    `FIXED_NICK`    VARCHAR(100) NOT NULL COMMENT '고정닉네임',
    `EMAIL_ADDR`    VARCHAR(200) NOT NULL COMMENT '이메일주소',
    `EMAIL_VERIFY_YN`    CHAR(1) NOT NULL COMMENT '이메일인증여부',
    `DEVICE_CODE`    VARCHAR(200) NOT NULL COMMENT '기기식별코드',
 PRIMARY KEY ( `USER_UID` )
) COMMENT = '사용자';

DROP INDEX `USER_PK`;

CREATE UNIQUE INDEX `USER_PK` ON `USER`
( `USER_UID` );

ALTER TABLE `USER`
 ADD CONSTRAINT `USER_PK` PRIMARY KEY ( `USER_UID` );


DROP TABLE `TRADE_DONE_HIST`;

CREATE TABLE `TRADE_DONE_HIST`
(
    `SELLER_UID`    VARCHAR(100) NOT NULL COMMENT '판매자UID',
    `ITEM_UID`    VARCHAR(100) NOT NULL COMMENT '매물UID',
    `ITEM_TITLE`    VARCHAR(500) NOT NULL COMMENT '매믈제목',
    `ITEM_NAME`    VARCHAR(200) NOT NULL COMMENT '매물명',
    `TRADE_OFFICE_NAME`    VARCHAR(200) NOT NULL COMMENT '거래사업장명',
    `ITEM_UPLOAD_DT`    VARCHAR(50) NOT NULL COMMENT '매물등록일시',
    `TRADE_DONE_DT`    VARCHAR(50) NOT NULL COMMENT '거래완료일시',
 PRIMARY KEY ( `SELLER_UID`,`ITEM_UID` )
) COMMENT = '거래완료이력';

DROP INDEX `TRADE_DONE_HIST_PK`;

CREATE UNIQUE INDEX `TRADE_DONE_HIST_PK` ON `TRADE_DONE_HIST`
( `SELLER_UID`,`ITEM_UID` );

ALTER TABLE `TRADE_DONE_HIST`
 ADD CONSTRAINT `TRADE_DONE_HIST_PK` PRIMARY KEY ( `SELLER_UID`,`ITEM_UID` );